@model AddWallpaperFormModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
	ViewBag.Title = "Upload new wallpaper";
}
<div class="mb-3">
	<h4>Uploader Name: @User.Identity.Name
		
	</h4>
</div>
<div class="row">
	<form asp-action="Add" method="post">

		<div class="mb-3">
			<label asp-for="Title" class="form-label">Title</label>
			<input asp-for="Title" class="form-control" aria-required="true">
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ImagePath" class="form-label">ImagePath</label>
			<input asp-for="ImagePath" class="form-control" aria-required="true">
			<span asp-validation-for="ImagePath" class="text-danger"></span>
		</div>
		

		<button type="submit" class="btn btn-primary" value="Add">Upload</button>

	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}