@model IEnumerable<WallpaperViewModel>

    @if (Model.Any())
{
    <h5>All Wallpapers:
        @foreach (var wp in Model)
        {
            <img src="@wp.ImagePath" title="@wp.Ttitle">
        }
    </h5>
}
else
{
    <h5>No wallpapers yet! Coming soon!</h5>  
}