@model IEnumerable<WallpaperViewModel>
<div class="mx-auto p-2">
    <h2 class="text-center">All Wallpapers:</h2>
</div>
@if (Model.Any())
{

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var wp in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@wp.ImagePath">
                    <div class="card-body">
                        <h5 class="card-title">@wp.Ttitle</h5>
                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <h5>No wallpapers yet! Coming soon!</h5>
}