@using Microsoft.AspNetCore.Identity
@using Wpapers.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown dropstart">
            <button type="button" data-bs-toggle="dropdown"
            style="background-color:rgb(232, 219, 224); border: 0px solid;" aria-expanded="false">
                <i class="fa-solid fa-bars"></i> Menu
            </button>
            <ul class="dropdown-menu">
                <li >
                    <a class="dropdown-item" text-dark" asp-area="" asp-controller="Wallpaper" asp-action="MyUploads">My Uploads</a>
                </li>              
                <li >
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account Settings</a>
                </li>
                <li >
                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
      
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="login">Login</a>
        </li>
    }
</ul>
