html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
}

    body::before {
        background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('../images/background/pexels-pixabay-531880.jpg');
        ;
        background-size: cover;
        content: ' ';
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
    }

header {
    padding: 10px;
}

.navbar {
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
}

/*---Wallpapers---*/
.wallpapers {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wallpapers img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.30);
    border: solid 2px antiquewhite;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    cursor:pointer;
}
.img-box:hover img {
    transform: scale(1.1);
}
.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}
.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.transparent-box {
    height: 250px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

#wallpaperDetails {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: auto;  
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
}
/*---Modal---*/
.modal-dialog {
    max-width: 800px;
}
.modal-content {
    background-color: transparent;
    border: unset;
}
.modal-header {
    border-bottom: unset;
}
.modal-footer {
    display: flex;
    justify-content: center;
    border-top: unset;
}
.grid-items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    gap: 30px 20px;
    box-shadow: 0 0 6px white;
}
/*---SearchBar---*/
.search {
    width: max-content;
    margin: auto;
    align-items: center;
    background: white;
    padding: 14px;
    border-radius: 20px;
    transition: box-shadow 0.25s;
}
.search:focus-within{
    box-shadow: 0 0 6px white;
}
#search-input {   
    outline: none;
    border: none;
    background: transparent;
}
/*---Buttons---*/
.button {
    margin: auto;
    display: block;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    color: forestgreen;
}
.button:hover{
    background-color: rgb(10, 10, 10);
    transition-duration: 0.5s;
}
#serachButton {
    outline: none;
    border: none;
    background: transparent;
}
a:link {
    text-decoration: none;
}
